* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ef4444;
  --color-light: white;
  --color-background: #e2e8f0;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
}

.sidebar {
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 50px;
  background-color: var(--color-primary);
  grid-row: 1 / -1;
  & > div > a {
    font-size: 2rem;
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
  }
  & a {
    font-size: 1.2rem;
    color: var(--color-light);
    text-decoration: none;
  }
}

img {
  border-radius: 25px;
}

.header {
  display: grid;
  padding: 0px 32px;
  grid-column: 2 / -1;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    padding: 0px 8px;
  }

  & * {
    display: flex;
    align-items: center;
  }

  & input {
    border: none;
    background-color: var(--color-background);
    height: 30px;
    width: 40vw;
    padding-left: 8px;
    border-radius: 25px;
  }

  .profile {
    display: flex;
    gap: 8px;
  }
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  .greetings {
    display: flex;
    gap: 8px;
  }
  .buttons ul {
    display: flex;
    gap: 16px;
    list-style: none;
  }
  button {
    padding: 8px;
    border: none;
    border-radius: 15px;
    color: var(--color-light);
    background-color: var(--color-primary);
  }
}

.main-content {
  background-color: var(--color-background);
  display: grid;
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}
